In [1]:
import pandas as pd

In [17]:
apps=pd.read_csv("apps.csv")
users_reviews=pd.read_csv('user_reviews.csv')

apps.head()

,App,Review,Sentiment Category,Sentiment Score
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25
2,10 Best Foods for You,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40
4,10 Best Foods for You,Best idea us,Positive,1.00

In [3]:
apps.dtypes

App              object
Category         object
Rating          float64
Reviews           int64
Size            float64
Installs         object
Type             object
Price           float64
Last Updated     object
dtype: object

In [4]:
# Display the 'Installs' column
print(apps['Installs'])

0           10,000+
1          500,000+
2        5,000,000+
3       50,000,000+
4          100,000+
           ...
9654         5,000+
9655           100+
9656         1,000+
9657         1,000+
9658    10,000,000+
Name: Installs, Length: 9659, dtype: object

In [5]:
# Clean the 'Installs' column

apps['Installs']=  apps['Installs'].str.replace(',','').str.rstrip('+').astype(int)


print(apps['Installs'])

0          10000
1         500000
2        5000000
3       50000000
4         100000
          ...
9654        5000
9655         100
9656        1000
9657        1000
9658    10000000
Name: Installs, Length: 9659, dtype: int32

In [9]:
# changed the data type of Installs column  to integer
apps['Installs'].dtype

dtype('int32')

In [11]:
# Group by 'Category' and calculate the number of apps, average price, and average rating

app_category_info=apps.groupby('Category').agg({
    'App':'count',
    'Price':'mean',
    'Rating':'mean'
}).reset_index()

In [12]:
# rename the columns
app_category_info.columns=['Category','Number of apps','Average price','Average rating']

# display the resulting Dataframe
print(app_category_info)

               Category  Number of apps  Average price  Average rating
0        ART_AND_DESIGN              64       0.093281        4.357377
1     AUTO_AND_VEHICLES              85       0.158471        4.190411
2                BEAUTY              53       0.000000        4.278571
3   BOOKS_AND_REFERENCE             222       0.539505        4.344970
4              BUSINESS             420       0.417357        4.098479
5                COMICS              56       0.000000        4.181481
6         COMMUNICATION             315       0.263937        4.121484
7                DATING             171       0.160468        3.970149
8             EDUCATION             119       0.150924        4.364407
9         ENTERTAINMENT             102       0.078235        4.135294
10               EVENTS              64       1.718594        4.435556
11               FAMILY            1832       1.309967        4.179664
12              FINANCE             345       8.408203        4.115563
13       FOOD_AND_DRINK             112       0.075714        4.172340
14                 GAME             959       0.296465        4.247368
15   HEALTH_AND_FITNESS             288       0.223438        4.243033
16       HOUSE_AND_HOME              74       0.000000        4.150000
17   LIBRARIES_AND_DEMO              84       0.011786        4.178125
18            LIFESTYLE             369       6.398022        4.093355
19  MAPS_AND_NAVIGATION             131       0.205725        4.036441
20              MEDICAL             395       2.520759        4.166552
21   NEWS_AND_MAGAZINES             254       0.015669        4.121569
22            PARENTING              60       0.159667        4.300000
23      PERSONALIZATION             376       0.400213        4.332215
24          PHOTOGRAPHY             281       0.420925        4.157414
25         PRODUCTIVITY             374       0.670936        4.183389
26             SHOPPING             202       0.027129        4.230000
27               SOCIAL             239       0.066820        4.247291
28               SPORTS             325       0.307692        4.216154
29                TOOLS             827       0.323156        4.039554
30     TRAVEL_AND_LOCAL             219       0.228082        4.069519
31        VIDEO_PLAYERS             163       0.064172        4.044595
32              WEATHER              79       0.410380        4.243056

### Find the top 10 free FINANCE apps having the highest average sentiment score. Save your answer as a DataFrame top_10_user_feedback. Your answer should have exactly 10 rows and two columns named: App and Sentiment Score, where the average Sentiment Score is sorted from highest to lowest.

In [24]:
# user review data
users_reviews.head()

,App,Review,Sentiment Category,Sentiment Score
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25
2,10 Best Foods for You,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40
4,10 Best Foods for You,Best idea us,Positive,1.00

In [25]:
users_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   App                 64295 non-null  object
 1   Review              37427 non-null  object
 2   Sentiment Category  37432 non-null  object
 3   Sentiment Score     37432 non-null  float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

In [36]:
#filter the app based on finance and free

finance_apps=apps[(apps['Category']=='FINANCE') & (apps['Type']=='Free')]

# Merge with user reviews data to get sentiment scores
merged_data = pd.merge(finance_apps, users_reviews, on='App', how='left')

# Group by app and calculate the average sentiment score
average_sentiment = merged_data.groupby('App')['Sentiment Score'].mean().reset_index()

# Sort by sentiment score in descending order and get the top 10
top_10_list = average_sentiment.sort_values(by='Sentiment Score', ascending=False).head(10)

In [40]:
print(top_10_list)

                                            App  Sentiment Score
19                                   BBVA Spain         0.515086
14               Associated Credit Union Mobile         0.388093
44                          BankMobile Vibe App         0.353455
1                                     A+ Mobile         0.329592
111   Current debit card and app made for teens         0.327258
38                               BZWBK24 mobile         0.326883
154  Even - organize your money, get paid early         0.283929
105                                Credit Karma         0.270052
186                Fortune City - A Finance App         0.266966
59                                       Branch         0.264230

In [41]:
# Display the resulting DataFrame without the index
# Reset the index starting from 1 and display the resulting DataFrame
top_10_list.reset_index(drop=True, inplace=True)
top_10_list.index += 1
print(top_10_list)

                                           App  Sentiment Score
1                                   BBVA Spain         0.515086
2               Associated Credit Union Mobile         0.388093
3                          BankMobile Vibe App         0.353455
4                                    A+ Mobile         0.329592
5    Current debit card and app made for teens         0.327258
6                               BZWBK24 mobile         0.326883
7   Even - organize your money, get paid early         0.283929
8                                 Credit Karma         0.270052
9                 Fortune City - A Finance App         0.266966
10                                      Branch         0.264230